.fs-2{
    display:flex;
    justify-content: center
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
  }
  
 .feature-icon{
    display:flex;
    justify-content: center;
 } 

#getintouch{
    background-color:#CAF4FF;
}